<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="conected" connectionString="Data Source=LARAIB;Initial Catalog=workshop;Integrated Security=True" />
    <add name="workshopConnectionString3" connectionString="Data Source=LARAIB;Initial Catalog=workshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="workshopConnectionString" connectionString="Data Source=LARAIB;Initial Catalog=workshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <location path="Default.aspx" allowOverride="false" >
    <system.web>
      <authorization >

        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>